body{
    background-color: rgb(0, 0, 0);   
}
.contact-info{
    display: flex;
}
.contact-topic{
    margin-top: 150px;
    width: 50%;
    height: 528px;
}
.contact-includs{
    margin-top: 200px;
    width: 50%;
    color: #ffffff;
    margin-bottom: 100px;
}
.con-topic-text-1,.con-topic-text-2{
    font-family: 'Dorsa',sans-serif;
    font-size: 250px;
    font-weight: 400;
    color: white;
}

.con-topic-text-1{ 
    margin: auto auto -100px 220px;
}

.con-topic-text-2{
    margin: auto auto auto 200px;
   
}

#con-text,#msg-text{
    color: #ffffff;
    width: 90%;
    background-image:
    repeating-linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0) 34px, #ffffff 1px, rgb(0, 0, 0) 35px);
    line-height: 35px;
    border: none;
    font-size: 24px;
    font-weight: 100;
    font-family: 'Inter',sans-serif;
}

#con-text,#msg-text:focus{
    border:none;
    outline: none;
}

.con-info-part{
    margin-bottom: 60px;
    margin-left: 40px;
    font-size: 24px;
    font-weight: 100;
    font-family: 'Inter',sans-serif;

}
.send-button{
    margin: -50px 0px auto 61%;
    padding: 10px;
    border-radius: 30px;
    border:1px solid  ;
    background-color: black;
    color: #4082e0;
    font-size: 24px;
    font-weight: 100;
    font-family: 'Inter',sans-serif;
}