body{
 background-color: rgb(0, 0, 0);
 overflow-x: hidden;
}
.home-container{
     background-image: url(../img/home.jpeg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: 155%;
     height: 750px;
     width: 900px;
     margin: auto;
     background-color:rgb(0, 0, 0) ;
    
}
.home-text{
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family:"Inter", sans-serif;
}
.text-one{
    margin-top: 35%;
    font-size: 64px;
    margin-bottom: 0px;
    margin-left:-760px;
    font-weight: 200;
}
.text-two{
    margin-top: -70px;
        font-size: 200px;
        font-weight: 900;
        margin-bottom:-90px;
}
.text-three{
    margin-left: 36%;
    font-size: 64px;
    font-weight: 300;
}
.text-four{

    margin-left: 58%; 
    font-size: 40px;
    font-weight: 250;
    margin-top: -30px;
}
.passion{
    background-image: url(../img/image.png);
    background-repeat: no-repeat;
    background-position: left;
    height: 600px;
    background-size: 800px;
    
}
.passion-section{
    height: 700px;
}
.passion-desc{
    
    display: block;
    justify-content: end;
}
.passion-title {
   padding-top: 5%;
   padding-bottom: 3%;
    font-family: "Dorsa", sans-serif;
    font-size: 130px;
    width: 25%;
    line-height: 100%;
    text-align: end;
    margin-left: 73%;
    color: white;
}
.passion-desc-body{
    width: 60%;
    text-align: right;
    margin-left: 38%;
    font-family:"Inter", sans-serif;
    font-weight: 300;
    font-size: 30px;
    color: white;

}
.background-text{
    
    position: absolute;
    font-size:450px;
    font-family: 'Dorsa',sans-serif;
    bottom: -30%;
    left: 55%;
    transform: rotate(300deg);
    -webkit-transform: rotate(26deg);
    color: #76767600;
    text-align: left;
    -webkit-text-stroke: 1px #26EDFB80;
    letter-spacing: 20px;
    line-height: 0%;
}
.background-text1{
    
    position: absolute;
    font-size:480px;
    font-family: 'Dorsa',sans-serif;
    bottom: -100%;
    left: 50%;
    transform: rotate(300deg);
    -webkit-transform: rotate(26deg);
    color: #76767600;
    text-align: left;
    -webkit-text-stroke: 1px #26EDFB80;
    letter-spacing: 20px;
    line-height: 0%;
}